.password-reset-container {
    border: 2px solid #f0deae; /* Add a border around the container */
    padding: 50px; /* Add padding to the container */
    text-align: center; /* Center-align the content */
    width: 100px;
  }
  
  .input-field {
    width: 350px;
    border: 1px solid lightgray;
    background-color: lightyellow;
    padding: 8px;
    margin-bottom: 10px; /* Add margin to create space between input fields */
  }
  
  .reset-button {
    margin-left: 100px;
  }
  